
html,
body{
	height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}
#map{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: all .5s ease-in-out;
}

#frame{
   position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  transition: all .5s ease-in-out;
  display: none;
}  
#info{
   position:fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 0px;
   transition: all .5s ease-in-out; 
   background-color: black;
   text-align: center;
}

#closeBtn{
	position: absolute;
   right: 0px;
   background-color: #ff2600;
    border: none;
    color: white;
}
#info input{
	 background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 20px;
    cursor: pointer;
}


body{
  font-size: 18px;
}

div.media-left > img{
  width: 100px;
  height: auto;
}

.btn-tag{
  padding: 10px;
  margin: 5px;
}

.tagsDOM{
  padding-top: 10px;
  padding-bottom: 20px;
}

.placeDOM{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#startButton{
  padding: 20px;
  margin: 10px;
}

#list-place-DOM{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.selected-place{
  background-color: lightgreen;
}

#logo{
  height: 30px;
}

.place_image{
  height: 50%;
}
