
html,
body,
#map{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

body{
  font-size: 18px;
}

div.media-left > img{
  width: 100px;
  height: auto;
}

.btn-tag{
  padding: 10px;
  margin: 5px;
}

.tagsDOM{
  padding-top: 10px;
  padding-bottom: 20px;
}

.placeDOM{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#startButton{
  padding: 20px;
  margin: 10px;
}

#list-place-DOM{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.selected-place{
  background-color: lightgreen;
}

#logo{
  height: 30px;
}

.place_image{
  height: 50%;
}