doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/voice.js")
    script( src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&ext=.js&key=AIzaSyDJx3fIERAVmGwLU8gDebXF3LcxuAcCU1w")
    script(src="javascripts/jquery-3.3.1.min.js")
    script(src="javascripts/map.js")
body
  #map
  #info
    input(type="button", value="Go", id="goBtn")
    input(type="button", value="Cancel", id="cancelBtn")
